name: Dev-Build

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/dev.yml@v4
    with:
      ivyVersion: 11
      ivyPluginVersion: 11.3.0
      testerVersion: 11.3.0